body {
    margin: 0px;
}

#content {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#header {
    display: grid;
    justify-items: center;
    align-items: center;
    grid: 1fr / 1fr 1fr 1fr;
    color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

#header h1 {
    font-size: 3rem;
    margin: 2px;
    justify-self: center;
    grid-area: 1 / 2;
}


#btn-group {
    display: flex;
    justify-content: center;
    grid-area: 1 / 3;
    height: 100%;
    width: 100%;
}

.btn {
    font-size: 1.6rem;
    font-weight: 700;
    justify-self: flex-end;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    width: 120px;
    height: 100%;
    border: 0px;
    margin: 0px 5px;
    transition: .5s;
}

.btn:hover {
    color: black;
    background-color: rgba(255, 255, 255, .6);
}

#home {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bowl {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}

#about {
    font-size: 2.5rem;
    line-height: 1.8;
    width: 60vw;
    margin: 120px;
}

#menu-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 600px;
}

.box {
    width: 400px;
    height: 400px;
    border: 20px solid darkgray;
    border-radius: 10px;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}