#content {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: grid;
    justify-items: center;
    align-items: center;
    grid: 1fr / 1fr 1fr 1fr;
    color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

#header h1 {
    font-size: 3rem;
    margin: 2px;
    justify-self: center;
    grid-area: 1 / 2;
}


#btn-group {
    grid-area: 1 / 3;
    height: 100%;
    width: 100%;
}

.btn {
    color: white;
    font-size: 1.5rem;
    justify-self: flex-end;
    background-color: rgba(0, 0, 0, .8);
    width: 120px;
    height: 100%;
    border: 0px;
    margin: 0;
    transition: .5s;
}

.btn:hover {
    color: black;
    background-color: rgba(255, 255, 255, .6);
}

#home {
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bowl {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}